<section id="about">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sapiente repellat et, provident porro nihil
        qui
        architecto vel. Magni, omnis fugit provident molestias ratione est, temporibus odit aut eius minus nulla nisi
        numquam consectetur iste. Est beatae facilis aperiam itaque quia officia libero quod voluptatibus possimus quae
        numquam voluptates harum fugiat praesentium laborum doloribus, nulla laboriosam eos perferendis, dicta
        corporis.
        Rerum fugiat, soluta eaque saepe libero laborum reiciendis porro quas aliquid magni dolorum, expedita eius
        itaque
        nostrum est, dolor aspernatur! Perspiciatis, aliquid! Labore ad magni iste, vitae ducimus ratione enim mollitia
        repellendus rem, voluptates, eligendi id at sed tenetur reprehenderit.</p>
</section>