<h1 class="mb-4">Basket</h1>

<button id="checkout" class="btn btn-light">Посмотреть товары</button>
<button id="clear_cart">Очистить корзину</button>
<div id="cart_content"></div>
<h2 id="sum mt-4">
    Итоговая суммa
    <div class="sum-value font-weight-bold">

    </div>
</h2>