<h1 class="product__title mb-5">Products</h1>

{{#listCatalog catalog}}{{/listCatalog}}

<button id="checkout-all" class="btn btn-light d-none">Оформить заказ</button>
<button id="clear_cart" class="d-none">Очистить корзину</button>
<div id="cart_content" class="d-none"></div>